$img-w: 3400px;
$img-h: 720px;
$shrink: 2;
$ratio: 1 / $shrink;
$speed: 14s;

.slider {
  position: absolute;
  width: 100%;
  top: calc(50% - #{$img-h * $ratio / 2});
  overflow: hidden;
  .slider-row {
    width: $img-w * $ratio;
    height: $img-h * $ratio;
    background-image: url(https://cdn.discordapp.com/attachments/781347550980472854/781387092491370496/creeks3.png);
    background-size: $img-w * $ratio $img-h * $ratio;
    animation: slide $speed linear infinite;    
  }
}

@keyframes slide {
  from { background-position-x: 0; }
  to   { background-position-x: -$img-w * $ratio; }
}